@page "/frienddetail/{id:int}"
@using AutismAssistMobile.Data;
@inject NavigationManager NavigationManager
@inject IFriendService friendService
@inject IFileService FileService

<div>
    @foreach (var friendImage in friendImageData)
    {
        <img src="@friendImage" width="10%"/>
    }
    <div>@friend.FirstName @friend.LastName</div>
    <InputFile OnChange="@UploadImages" multiple accept=".jpg,.jpeg,.png" />
</div>

@code {
    [Parameter]
    public int id { get; set; }
    Friend friend;
    private List<String> friendImageData = new List<String>();

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        id = int.Parse(uri.Segments.Last());
        friend = await friendService.GetFriend(id);
        foreach (var image in friend.Images)
        {
            friendImageData.Add(string.Format("data:image/{0};base64,{1}", Path.GetExtension(image.ImageUrl).TrimStart('.'), Convert.ToBase64String(await FileService.LoadAsync(image.ImageUrl))));
        }
    }

    private async Task UploadImages(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            var extension = Path.GetExtension(file.Name);
            var contentType = file.ContentType;

            if (contentType != "image/jpeg" && contentType != "image/png")
            {
                // handle unsupported file types here
                continue;
            }

            using var memoryStream = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(memoryStream); // read the file contents into a MemoryStream
            var imageData = memoryStream.ToArray(); // get the byte array from the MemoryStream

            var filename = $"{friend.Id}_{Guid.NewGuid()}{extension}";
            var localImagePath = await FileService.SaveAsync(filename, imageData);

            var newImage = new FriendImage { ImageUrl = localImagePath, ImageExtension = extension };
            friend.Images.Add(newImage);
            friendImageData.Add(string.Format("data:image/{0};base64,{1}", extension.TrimStart('.'), Convert.ToBase64String(imageData)));
        }

        await friendService.SaveImages(friend);
    }
}
