@page "/frienddetail/{id:int}"
@using AutismAssistMobile.Data;
@inject NavigationManager NavigationManager
@inject IFriendService friendService
@inject IFileService FileService

<div>
    @foreach (var friendImage in friendImageData)
    {
        <img src="@friendImage" width="10%"/>
    }
    <div>@friend.FirstName @friend.LastName</div>
    <InputFile OnChange="@UploadImages" multiple />
</div>

@code {
    [Parameter]
    public int id { get; set; }
    Friend friend;
    private List<String> friendImageData = new List<String>();

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        id = int.Parse(uri.Segments.Last());
        friend = await friendService.GetFriend(id);
        foreach (var image in friend.Images)
        {
            friendImageData.Add(string.Format("data:image/png;base64,{0}", Convert.ToBase64String(await FileService.LoadAsync(image.ImageUrl))));
        }
    }

    private async Task UploadImages(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            using var memoryStream = new MemoryStream();
            using var fileStream = file.OpenReadStream();
            await fileStream.CopyToAsync(memoryStream);
            var imageData = memoryStream.ToArray();

            var filename = $"{friend.Id}_{Guid.NewGuid()}.png";
            var localImagePath = await FileService.SaveAsync(filename, imageData);

            var newImage = new FriendImage { ImageUrl = localImagePath };
            friend.Images.Add(newImage);
            friendImageData.Add(string.Format("data:image/png;base64,{0}", Convert.ToBase64String(imageData)));
        }
        await friendService.SaveImages(friend);
    }
}
