@page "/"

<h1>Hello, Welcome to Autism Assist!</h1>
<div>
This application is designed to help learn and understand your friends emotions via facial detection.
</div>
<div>
Please do not use this for nefarious or innappropiate purposes.  
</div>
<div>
Begin by viewing your current friends or adding a new one.
</div>

<AddFriendButton />
